.ball{
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px; /* 공안의 숫자가 수직 가운데 */
    font-size: 28px;
    border-radius: 100%;
    text-align: center;/* 수평 가운데 */
    color: #fff;
    text-shadow: 0px 0px 3px rgba(73,57,0,.8);
    margin-right: 6px;
}
.ball1{
    background: #fbc400;
}
.ball2{
    background: #69c8f2;
}
.ball3{
    background: #81cd0f;
}
.ball4{
    background: #df7d1c;
}
.ball5{
    background: #7df9da;
}
.ball6{
    background: #4f9ded;
}